html, body {
text-align: center;
}

body {
font-family: "Century Gothic&quot;,&quot;Lucida Grande",Arial,sans-serif;
/*overflow: hidden;    */
}

* { 
margin: 0; 
padding: 0; 
} 

div#slider { 
position:relative; 
width: 960px;
height: 320px;
margin-top: 256px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto; 
background-color:transparent; 
-moz-box-shadow: 0 0 20px black;
 -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black; 
  /*border: 1px solid #757527;    */
  }
  
div#imgslider { 
float:left;
height: 320px;
width:560px;
background-color:transparent;
background-image:url("0.jpg");
}

div#textslider{
text-align:left;
float:left;
height:320px;
width:400px;
background-color:rgba(117, 117, 39,0.6);/*#757527; */
}
  
img.bg{
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
}

@media screen and (max-width: 1024px) {
    img.bg{
        left: 50%;
        margin-left: -512px;
    }
}

img#logo{
position: fixed;
top: 0;
left: 0;
}

p{
position:relative;
top:-10px;
}

h2.title{
position:relative;
margin-left:10px;
margin-top:20px;
margin-right:20px;
-moz-transition:height 1.5s;
}

img.slider{
position:relative;
top: -23px;
}

p.content {
position:relative;
margin-left:10px;
margin-top:20px;
margin-right:20px;
-moz-transition:height 1.5s;
}
